[flake8]
max-line-length = 79
exclude =
    .git,
    __pycache__,
    */migrations/*,
    .venv,
    venv
per-file-ignores =
    src/conftest.py:F401,E402
    src/props/settings.py:E402,F541
    src/assets/tests/test_*.py:F401,F811,E402
