{% extends "admin/base_site.html" %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <p>Add {{ assets.count }} asset(s) to a hold list:</p>
    <select name="hold_list" required>
        <option value="">-- Select hold list --</option>
        {% for hl in hold_lists %}
        <option value="{{ hl.pk }}">{{ hl.name }}</option>
        {% endfor %}
    </select>
    {% for asset in assets %}
    <input type="hidden" name="_selected_action" value="{{ asset.pk }}">
    {% endfor %}
    <input type="hidden" name="action" value="{{ action }}">
    <input type="hidden" name="apply" value="1">
    <button type="submit" class="button">Add to Hold List</button>
    <a href="{% url 'admin:assets_asset_changelist' %}" class="button cancel-link">Cancel</a>
</form>
{% endblock %}
